# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
**/out
/overlays/
/core/overlays/

# Mac
.DS_Store

# Maven
**/log/
**/target
**/.mvn/
**/*.log
**/tmp
**/.tmp
**/bin/**
**/mvnw
**/mvnw.cmd

# JRebel
**/rebel.xml